.carrousel__propio {
  height: 40%;
  width: 95%;
  padding: 20PX;
  padding-bottom: 50PX;
}

.card_index_prop {
  padding: 20px;
}

.card_text_prop {
  text-align: center;
}

.a_prop {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #ff3cc7;
}

.footer_img {
  background-color: #b5179e;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 20PX;
}

.footer_img_size {
  width: 700px;
  justify-self: center;
}

#carrito_Compra {
  cursor: pointer;
}
#carrito_Compra :hover {
  opacity: 0.7;
}

.remeras_ingreso_clases {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: flex-start;
  justify-items: left;
  margin: 30px 0px 80px;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  border-color: rgb(18, 19, 18);
}

.ropa_grilla {
  background-color: #00e5e8;
  overflow: hidden;
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}
.ropa_grilla _img {
  width: 90%;
}

.precio_card {
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
}

.btn_Comprar {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #f46036;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.btn_Comprar:hover {
  opacity: 0.7;
}

.cantidad_Carrito {
  background-color: red;
  color: antiquewhite;
  border-radius: 50%;
  font-size: 12px;
  padding: 13px;
  top: 159px;
  right: 21px;
  position: absolute;
  z-index: 1;
  display: none;
}

#form {
  margin-left: 40%;
  margin-bottom: 20PX;
  margin-top: 20px;
}

.bg_contacto {
  background-color: #b5179e;
}

.field {
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.field label {
  display: block;
  font-size: 18px;
  color: #777;
}

.field input {
  display: block;
  min-width: 300px;
  line-height: 1.5;
  font-size: 18px;
}

input[type=submit] {
  display: block;
  padding: 6px 30px;
  font-size: 18px;
  background-color: #4460AA;
  color: #fff;
  border: none;
}

.modal_estilo {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: #80ffdb;
  background-color: #ff3cc7;
  display: none;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}
.modal_estilo :-webkit-scrollbar {
  display: none;
}
.modal_estilo _header {
  display: flex;
  flex-direction: row;
  justify-self: start;
  font-family: "Ubuntu", sans-serif;
  color: #00e5e8;
  width: 100%;
}

.modal_Button {
  cursor: pointer;
  text-align: right;
}

.carrito_modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  width: 70%;
  margin: 10px;
}

.modal_estilo > div > img {
  height: 120px;
  width: 120px;
}

.carrito_modal_total {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

.carrito_eliminar {
  cursor: pointer;
  padding: 10px;
  text-align: right;
}

#comentarios {
  padding: 20px;
}

.comentarios_class {
  background-color: antiquewhite;
  border-color: black;
  font-size: 15px;
  border: double;
  text-align: center;
  width: 350px;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

* {
  margin: 0;
  padding: 0;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.flexbox__header {
  flex-direction: column;
}
.flexbox__productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
