@import "base/variables";
@import "./base/lists.scss";
@import "components/index";
@import "components/productos";
@import "components/contacto";
@import "./components/modal";




* {
    margin: 0;
    padding: 0;
}

// -------- FLEXBOX----------------------

.flexbox{
    display: flex;
   flex-direction: column;
    justify-content: flex-start;
    &__header{
        flex-direction: column;
    }
    &__productos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
}

