.comentarios_class{
    background-color:antiquewhite ;
    border-color: black;
    font-size: 15px;
    border: double;
    text-align: center;
    width: 200px;
    height: fit-content;
    display: -ms-inline-grid;
}