.carrousel__propio{
    height: 40%;
    width: 95%;
    padding: 20PX;
    padding-bottom: 50PX;
}

.card_index_prop{
    padding: 20px;
}

.card_text_prop{
    text-align: center;
    
    
}

.a_prop{
    text-decoration: none;
    font-family: $font-ppal;
    font-size: 15px;
    font-weight: bold;
    color: nth($colores , $n:2 );
}
.footer_img {
    background-color: nth($colores , $n:1 );
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    margin-top: 20PX;
}

.footer_img_size{
    width: 700px;
    justify-self: center;
}

#carrito_Compra{
    cursor: pointer;
    & :hover {
        opacity: 0.7;
    }
}