.remeras_ingreso_clases{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: flex-start;
    justify-items: left;
    margin: 30px 0px 80px;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    border-color: rgb(18, 19, 18);
}

.ropa_grilla {
    background-color: nth($colores, $n:5 );
    overflow: hidden;
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: $font-ppal;
    font-size: 20px;
    margin: 20px;
}

.img_productos{
    width: 405px;
    height: 380px;
}

.precio_card {
    font-family: $font-ppal;
    font-size: 25px;
}

.btn_Comprar{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:nth($colores, $n:3 );
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    &:hover{
        opacity: 0.7;
    }


}

.cantidad_Carrito{
    background-color: red;
    color: antiquewhite;
    border-radius: 50%;
    font-size: 12px;
    padding: 13px;
    top: 159px;
    right: 21px;
    position: absolute;
    z-index: 1;
    display: none;
}
