.remeras_ingreso_clases{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: flex-start;
    justify-items: left;
    margin: 30px 0px 80px;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    border-color: rgb(18, 19, 18);
}

.ropa_grilla {
    background-color: nth($colores, $n:5 );
    overflow: hidden;
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: $font-ppal;
    font-size: 20px;
    _img{
        width: 90%;
        

    }
}

.precio_card {
    font-family: $font-ppal;
    font-size: 25px;
}

.btn_Comprar{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:nth($colores, $n:3 );
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    &:hover{
        opacity: 0.7;
    }


}
